<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
</head>

<body>
    <h1>Home Page</h1>
    <form action="/create_user" method="post">
        <input type="text" name="username" placeholder="Enter username" required />
        <input type="text" name="password" placeholder="Enter password" required />
        <input type="text" name="name" placeholder="Enter name" />
        <input type="text" name="district" placeholder="Enter district" />
        <input type="text" name="age" placeholder="Enter age" />
        <select name="user_type" id="user_type" required>
            <option value="" disabled selected>Select a type</option>
            <option value="tutor">Tutor</option>
            <option value="student">Student</option>
            <option value="admin">Admin</option>
            <option value="teacher">Teacher</option>
        </select>
        <button type="submit">Create New User</button>
    </form>
</body>

</html>